body{

    background-image: url("bg-1.jpg")
}

#content{
    border-radius: 50px;
    border-style: groove;
    border-width:8px;
    border-color: rgb(182, 228, 236);
    background-image: url("cont.jpg");
    background-size: cover;
    opacity: 0.7;
    /* background-color: rgb(142, 207, 221); */

}

.column{

    padding: 20px;
}

.jumbotron{

    opacity:0.9;
    border-radius: 50px;
    font-family: 'Monoton', cursive;



    margin-top:10px;
    height: 300px;

    background-image: url("jbg5.jpg");
    background-size: cover;
    border-style: groove;
    border-width:8px;
    border-color: rgb(181, 235, 240);
}

.text{
    border-radius:50px;
    background-color: rgb(245, 243, 239);
    border-style: solid;
    border-color:black;

}

.title{
    
    font-size: 70px;
    /* color: black; */
    color: rgb(233, 229, 220);
}

.time{
    opacity:1;

    color: rgb(240, 237, 232);
}